# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Visual Studio cache/options:
.vs/

# Google Tests packages:
packages

# Ignore CI build directory
build/
xcuserdata
cmake-build-debug/
.idea/
bazel-bin
bazel-genfiles
bazel-googletest
bazel-out
bazel-testlogs
*.pyc

# Visual Studio files
.vs
*.sdf
*.opensdf
*.VC.opendb
*.suo
*.user
_ReSharper.Caches/
Win32-Debug/
Win32-Release/
x64-Debug/
x64-Release/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Binaries:
[Ii]ntermediate
[Bb]in
[xX]64
[xX]86
[Dd]ebug
[Rr]elease

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
